<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Professores</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        h1 {
            text-align: center;
            margin-bottom: 20px;
        }
        .table-container {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Lista de Professores</h1>
        <div class="table-responsive table-container">
            <table class="table table-striped">
                <thead class="thead-light">
                    <button>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Email</th>
                    </tr>
                    </button>
                </thead>
                <tbody>
                    {% for professor in professores %}
                    <tr>
                        <td>{{ professor.id }}</td>
                        <td>{{ professor.nome }}</td>
                        <td>{{ professor.email }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br>
        <a href="/" class="btn btn-primary">
            <i class="bi bi-arrow-left-circle-fill"></i>
            Voltar para a página inicial
        </a>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>


</head>
<body>
    
</body>
</html>